* {
  font-family: sans-serif;
	border-box: box-sizing;
}

html, body {
  margin: 0;
  padding: 0;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

table tr,th,td {
  text-align: center;
  text-align: center;
  border: 1px solid black;
}

table caption {
  caption-side: bottom;
  font-weight: bold;
}

.center {
  display: block;
  margin-left: auto; 
  margin-right: auto;
}

.indent {
  text-indent: 2rem;
}

.container {
  margin: 20px;
}

p {
  text-align: justify;
  margin: 10px;
	white-space: pre-wrap;
	word-break; break-all;
}

dl dt {
  font-weight: bold;
}
